# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos de configuración de Flask (si aplicable)
instance/
*.log

# Archivos temporales
*.bak
*.swp

# Otros archivos que no quieras subir
.DS_Store
Thumbs.db

